/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/pages/page3/page3.css ***!
  \*****************************************************************************/
#page3{
    border: 5px solid black;
    width: 500px;
    height: 500px;
    background-color: black;
}
/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/pages/page2/page2.css ***!
  \*****************************************************************************/
#page2{
    border: 5px solid black;
    width: 500px;
    height: 500px;
}
